table {
    width: 100%;
    border-collapse: collapse;
    table-layout: fixed;
    font-size: clamp(14px, 1.6vw, 20px);
}

.orders {
    position: relative;
}

.order {
    transition: margin 0.25s;
    box-sizing: border-box;
    position: relative;
    color: black;
    background: rgb(187, 187, 187);
}

.order.dragging {
    position: absolute;
    pointer-events: none;
    z-index: 1000;
}

.order-body {
    box-shadow: 0 -1px 0 rgb(85, 85, 85), 0 1px 0 rgb(85, 85, 85);
    display: table-row-group;
    height: clamp(50px, 13vh, 80px);
    cursor: pointer;
}

.order-data {
    text-align: center;
    vertical-align: middle;
    width: 15%;
    white-space: nowrap;
    overflow: hidden;
}

.order-data:first-child {
    text-align: left;
    width: 30%;
    padding-left: clamp(10px, 1.5vw, 20px);
    text-overflow: ellipsis;
}

.order-data:last-child {
    text-align: right;
    width: 10%;
    padding-right: 15px;
}

.parts {
    max-height: 0;
    transition: max-height 0.2s ease-out;
    overflow: hidden;
}

.part-data {
    border-bottom: 1px solid rgb(85, 85, 85);
    padding: 0.5vw 0;
    text-align: center;
    vertical-align: middle;
    white-space: nowrap;
    overflow: hidden;
}

.part-data:first-child {
    text-align: left;
    width: 40%;
    padding-left: 0.4vw;
}

.part-data:last-child {
    text-align: right;
    width: 13%;
    padding-right: 0.8vw;
}

input[type="date"],
.custom-select {
    font-family: Arial, sans-serif;
    font-size: clamp(14px, 1.6vw, 20px);
    color: white;
    border: none;
    background: rgb(100, 100, 100);
    border: 1px solid transparent;
    border-radius: 0.5vw;
    outline: none;
}

.custom-select {
    padding-left: 6px;
    padding-right: 6px;
}

input[type="date"]::-webkit-inner-spin-button,
input[type="date"]::-webkit-calendar-picker-indicator,
input[type="date"]::-webkit-clear-button {
    -webkit-appearance: none;
}

.json {
    display: none;
}